* Establecer el color de fondo y el margen para la etiqueta head y header */
/* Establecer el color de fondo y el margen para la etiqueta head y header */
head {
  background-color: #ffffff;
  margin: auto;
}

header {
  background-color: #ffffff;
  margin: auto;
}

/* Establecer la fuente y el color de fondo para el cuerpo del sitio web */
body {
  margin-top: 50px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: auto;
}

h2 {
  margin-top: 20px;
  margin: 25px;
  color: rgb(163, 183, 176);
}

p {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* Establecer el diseño para la imagen y el texto del encabezado */
.container-fluid img {
  display: flex;
  float: left;
  margin-right: 20px;
  margin-top: 50px;
}

.container-fluid p {
  display: block;
  float: right;
  margin-right: 20px;
  margin-block-end: 40px;
  margin-top: 50px;
  margin-block-start: 30px;
}

/* Establecer el margen superior y justificar el texto en la sección principal */
section {
  margin-top: 90px;
  text-align: justify;
}

/* Establecer el margen y eliminar el borde para las imágenes */
img {
  margin: auto;
  border: 0px;
  padding-top: 5px;
}

/* Establecer el tamaño máximo y la alineación para los videos */
video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* Establecer el estilo y la posición para la barra de navegación */
nav {
  display: flex;
  background-color: rgb(211, 254, 224);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* Establecer el estilo para la lista de navegación */
nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  margin: 0 6px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

#contacto {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 8px;
  text-align: center;
}





.address {
  font-size: 12px;
  float: left;
  margin-right: 50px;
  margin-bottom: 10px;

}




.social-links {
  display: block;
  font-size: 12px;
  margin-top: 50px;

}





.map {
  float: left;
  width: 100%;
  height: 450px;
  margin-top: -180px;
  margin: 35px;


 }

 @media screen and (max-width: 767px) {
  header {
    margin-top: 70px;
  }

  .container-fluid img {
    margin-top: 20 }

  
  }

  a.whatsapp-link {
    display: flexbox;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    
  }
  
  a.whatsapp-link i {
    margin-right: 5px;
  }
  
  @media (max-width: 480px) {
    a.whatsapp-link {
      padding: 30px;
    }
  }
  
  #cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #cffbe9f2;
    padding: 8px;
    text-align: center;
    display: none; }
